/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        height: 100%;
        z-index: 1000;
        display: block;
        padding: 1em 1%;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

@media (min-width: 280px) {
    .sidebar {
        display: block;
        padding: 1em;
    }
}
/*
 * Main content
 */

.main {
    padding: 1em;
    margin-bottom: 5em;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}

/*
 * Button Links
 */
.sidebar ul.btn-group{
    width: 100%;
}
.sidebar a.btn, .sidebar a.btn-link{
    display: block;
    width: 100%;
    text-align: left;
    text-decoration: none;
}
