@import url("bootstrap.min.css");
@import url("barebones.css");

body{
    font-family: "Agency FB";
    font-size: 16px;
    background: rgb(170,171,175) url("../images/body-bg.jpg") no-repeat fixed center;
    background-size: cover;
}
#abs-container{
    min-height: 100vh;
    position: relative;

    background-color: #eeeeee;
    opacity: 0.9;
}
#centered-content{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    width: 90%;
}
#logo{
    max-width: 100%;
}
.color-1{
    color: rgb(149, 3, 3);
}
.color-2{
    color: rgb(170, 171, 175);
}
.color-3{
     color: rgb(14, 42, 80) !important;
}

.bg-color-1{
    background-color: rgb(149, 3, 3);
}
.bg-color-2{
    background-color: rgb(170, 171, 175);
}
.bg-color-3{
    background-color: rgb(14, 42, 64);
}
.bg-color-4{
    background-color: #FFF;
}

@media all and (max-width: 800px) {
    #centered-content{
        position: relative;
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
        top: auto;
        left: auto;
        transform: translate(0,0);
    }
}
@media all and (max-width: 768px) {
    #centered-content{
        position: relative;
        margin-top: 4%;
        margin-left: auto;
        margin-right: auto;
        top: auto;
        left: auto;
        transform: translate(0,0);
    }
    #logo{
        max-width: 320px;
        height: auto;
    }
}
@media all and (max-width: 768px) {
    #centered-content{
        min-width: 94%;
        width: auto;
    }
}