#crawler-monitor{
    display: block;
    z-index: 2000;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
}

#crawled-links-view{
    box-sizing: border-box;
    border: 1px solid #eeeeee;
    width: 100%;
    height: auto;
    min-height: 30vh;
    max-height: 35vh;
}