@import url("bootstrap.min.css");
@import url("barebones.css");

body{
    font-family: Gadugi;
    font-size: 12px;
    background: rgb(240,240,240) url("../images/body-bg.jpg") no-repeat fixed center;
    background-size: cover;
}
#outer-body-wrapper{
    padding: 0 3%;
    background: white;
    margin: 0;
    opacity: 0.95;
}
#inner-body-wrapper{
    max-width: 1420px;
    min-height: 100vh;
    height: auto;
    margin: 0 auto !important;
}

.header-logo-box{
    padding: 5%;
    box-sizing: content-box;
}
.header-logo{
    max-width: 96%;
    max-height: 80px;
    margin: 3% auto;
}

.navbar{
    border-radius: 0;
}
li.active a, li.active a:focus{
    background-color: #ccc !important;
}
.navbar-inverse{
    background-color: #eeeeee !important;
    border: none;
}
.footer-nav{
    margin-bottom: 0;
}

.dropdown-toggle{
    color: inherit !important;
    background-color: inherit !important;
}
.dropdown-toggle:hover, .dropdown-toggle:focus{
    background-color: inherit !important;
}

.sc-link{
    color: #000000 !important;
    background-color: #eeeeee !important;
}
.sc-link:hover, .sc-link:focus{
    background-color: #eeeeee !important;
}

input[required], select[required], textarea[required]{
    border-right: 2px dotted #ccc;
}

.navbar-inverse a, .navbar-inverse, .navbar-nav a, .navbar-header a{
    color: black !important;
}
.navbar-nav a:hover, .navbar-nav a:focus, .navbar-inverse a:hover, .navbar-inverse a:focus{
    color: black !important;
    text-decoration: none;
    background-color: #dddddd !important;
}
.navbar-nav .dropdown-menu a, .dropdown-menu li.active a{
    background-color: white !important;
}
.navbar-brand{
    font-weight: bold;
    font-size: inherit !important;
}

@media all and (max-width: 1024px) {
    #logo{
        padding: 10% 5% 5% 5%;
    }
}

@media all and (max-width: 767px) {
    .header-logo-box{
        padding: 5%;
    }
    .header-logo{
        margin-top: 5%;
        max-width: 90%;
        margin-right: auto;
        margin-left: auto;
    }
}

@media all and (max-width: 500px) {
    .header-logo-box{
        padding: 1%;
    }
    .header-logo{
        margin-top: 22%;
        max-width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
}
